        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/startbootstrap-blog-post-1.0.4/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/startbootstrap-blog-post-1.0.4/js/bootstrap.min.js"></script>

    <!-- common.js contails date -->
    <script src="/javascripts/common.js"></script>
</body>

</html>