    <% include nav %>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>Don't ever underestimate the heart of a champion!</h1>

                <!-- Author -->
                <p class="lead">
                    declared <a href="https://en.wikipedia.org/wiki/Rudy_Tomjanovich">Rudy Tomjanovich</a>
                </p>

                <hr>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> <span id="postDate">Posted on August 24, 2013 at 9:00 PM</span></p>

                <hr>

                <!-- Preview Image -->
                <!-- <img class="img-responsive" src="http://placehold.it/900x300" alt=""> -->
                <img class="img-responsive" src="/images/daybreak.jpg" alt="daybreak">

                <hr>

                <!-- Post Content -->
                <p class="lead"><h3>徘徊,知识与技巧的积累在缓慢的叠加</h3></p>
                
                <p>迟缓的脚步在往前挪动。</p>

                <p>目光被沿途的风景迷惑；</p>

                <p>到底有多远，我才能迎来更美的风景！</p>

                <h1><%= title %></h1>
                
                <hr>

                <div class="bs-example" data-example-id="simple-dl">
                    <dl>
                      <dt>Description lists</dt>
                      <dd>A description list is perfect for defining terms.</dd>
                      <dt>Euismod</dt>
                      <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                      <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                      <dt>Malesuada porta</dt>
                      <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                    </dl>
                </div>

                <div class="bs-example" data-example-id="simple-dl">                  
                    <dl class="dl-horizontal">
                      <dt>MongoDB </dt>
                      <dd>MongoDB 是一个基于分布式文件存储的数据库。由 C++ 语言编写。旨在为 WEB 应用提供可扩展的高性能数据存储解决方案。</dd>
                      <dt>Mysql</dt>
                      <dd>Mysql是最流行的关系型数据库管理系统，在WEB应用方面MySQL是最好的RDBMS(Relational Database Management System：关系数据库管理系统)应用软件之一。</dd>
                      <dt>Bootstrap</dt>
                      <dd>Bootstrap，来自 Twitter，是目前最受欢迎的前端框架。Bootstrap 是基于 HTML、CSS、JAVASCRIPT 的，它简洁灵活，使得 Web 开发更加快捷。</dd>
                    </dl>
                </div>

                <table class="table table-striped">
                    <tr>
                      <th>abc</th>
                      <th>abc</th>
                      <th>abc</th>
                      <th>abc</th>
                      <th>abc</th>
                      <th>abc</th>                      
                    </tr>
                    <tr>
                      <td>def</td>
                      <td>def</td>
                      <td>def</td>
                      <td>def</td>
                      <td>def</td>
                      <td>def</td>                                                    
                    </tr>
                    <tr>
                      <td>def</td>
                      <td>def</td>
                      <td>def</td>
                      <td>def</td>
                      <td>def</td>
                      <td>def</td>                                                    
                    </tr>
                    <tr>
                      <td>def</td>
                      <td>def</td>
                      <td>def</td>
                      <td>def</td>
                      <td>def</td>
                      <td>def</td>                                                    
                    </tr>                                                 
                </table>

                <table class="table table-bordered">
                    <tr>
                      <th>abc</th>
                      <th>abc</th>
                      <th>abc</th>
                      <th>abc</th>
                      <th>abc</th>
                      <th>abc</th>                      
                    </tr>
                    <tr>
                      <td>def</td>
                      <td>def</td>
                      <td>def</td>
                      <td>def</td>
                      <td>def</td>
                      <td>def</td>                                                    
                    </tr>
                    <tr>
                      <td>def</td>
                      <td>def</td>
                      <td>def</td>
                      <td>def</td>
                      <td>def</td>
                      <td>def</td>                                                    
                    </tr>
                    <tr>
                      <td>def</td>
                      <td>def</td>
                      <td>def</td>
                      <td>def</td>
                      <td>def</td>
                      <td>def</td>                                                    
                    </tr>                                                 
                </table>

                <hr>
                <!-- include comment -->

            </div>

            <% include layout %>

        <hr>

    <% include footer %>        