body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.prepage a {
  float: left;
  text-decoration: none;
  padding: .5em 1em;
  color: #ff0000;
  font-weight: bold;
}

.nextpage a {
  float: right;
  text-decoration: none;
  padding: .5em 1em;
  color: #ff0000;
  font-weight: bold;
}

.prepage a:hover,
.nextpage a:hover {
  text-decoration: none;
  background-color: #ff0000;
  color: #f9f9f9;
  -webkit-transition: color .2s linear;
}

.pagination .disabled {
    color: #d3d3d3;
    cursor: default;
    background-color: #fafafa;
}

.pagination-centered {
  text-align: center;
}

.pagination-right {
  text-align: right;
}